body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

body {
  font-size: 12pt;
  color: black;
}

button {
  width: 200px;
  box-shadow: inset 0px 0px 20px 0px blue;
  border-radius: 30px;
  color: white;
}

button img {
  height: 4.8em;
}

button .grid {
  grid-column-gap: 0;
}

div[id$="info"] {
  /* Initially hide all info divs */
  display: none;
}

img {
  border-radius: 10px;
}

/*  style for paragraph tags */
p {
  color: black;
}

h1,
h2 {
  font-size: 1.4em;
  margin-left: 10px;
}

h1 {
  margin-top: 0px;
}

table {
  background-color: white;
  padding: 4px;
  border-radius: 8px;
}

th,
td {
  padding-left: 30px;
}

/* style for items with the class "chevron" */
.chevron {
  position: relative;
  margin-left: 45%;
  font-size: x-large;
}

.grid {
  align-items: center;
}

.grid > div:nth-child(2) {
  text-align: left;
}

.period {
  position: absolute;
  top: 8px;
}

.right-text {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

#button-grid {
  position: absolute;
  top: 28px;
  left: 28px;
  grid-template-columns: 1fr;
}

/*  style for items with the class "descriptionPanel" */
#info-panel {
  position: absolute;
  top: 28px;
  left: 280px;
  width: 376px;
  height: 64px;
  padding: 10px;
  background: rgba(240, 240, 240, 0.68);
  transition:
    width 2s,
    height 2s;
  z-index: 2;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

#info-panel p {
  color: black;
  margin: 0 10px;
}

#intro {
  position: absolute;
  top: 0px;
  z-index: 10;
  grid-template-columns: 2fr 4fr 1fr;
  background: rgba(240, 240, 240, 1);
  transition:
    height 1s ease,
    top 1s ease,
    opacity 1s ease;
  border-radius: 0px 0px 8px 8px;
  opacity: 1;
}

#intro.hidden {
  top: -100vh;
  height: 0;
  opacity: 0;
}

#intro-close {
  width: 40px;
  float: right;
  margin-right: 28px;
}

#legened-panel {
  position: absolute;
  bottom: 48px;
  right: 48px;
  z-index: 2;
  width: 140px;
  height: 168px;
  background: rgba(220, 220, 220, 0.8);
  transition: /* this is the time it takes for the container to transition */
    width 2s,
    height 2s;
  padding: 8px;
  border-radius: 7px;
}

.legend-item {
  padding-left: 10px;
  font-size: 18px;
}

#glyph {
  position: absolute;
  top: 18px;
  right: 18px;
}

/* Legend colors */
#forest {
  color: #229352;
}

#shrub {
  color: #74d64b;
}

#deforest {
  color: red;
}

#farm {
  color: #fffdcd;
}

#nonveg {
  color: black;
}

#water {
  color: #2532e3;
}

/* For small screens */
@media (max-width: 768px) {
  /* Condense buttons */
  button {
    width: 140px;
  }

  button .grid > div:nth-child(2) {
    text-align: center;
  }

  /* Hide images */
  button img {
    display: none;
  }

  h1 {
    font-size: 1.3em;
  }

  #button-grid {
    bottom: 28px;
    top: auto;
  }

  #info-panel {
    height: 60px;
    right: 28px;
    left: auto;
  }

  #legend-panel {
    padding: 4px;
    width: 105px;
    height: 144px;
  }

  #legend-panel .legend-item {
    padding-left: 10px;
    font-size: 1em;
  }
}
